.svn
*.o
*.a
*_F.H
*.pyc
exec/d/
exec/f/
exec/p/
cogent.Linux.*
cogent.Darwin.*
hypre-2.9.0b/hypre_loc
hypre-2.9.0b/lib/
hypre-2.9.0b/src/HYPRE_config.h
hypre-2.9.0b/src/config.log
hypre-2.9.0b/src/config.status
hypre-2.9.0b/src/config/Makefile.config
hypre-2.9.0b/src/hypre/
